.left{
    vertical-align: middle;
    margin-left: 2rem;
    margin-right: 1rem;
    width: 2rem;
  }


.title{
    font-family: 'Noto Sans Mono', monospace;
    font-size: 1.2rem;
    font-style: normal;
    margin-left: 2rem;
    color:#EF6D58;
    margin-bottom: 30px;
  }

.font2{
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: normal;
    margin-left: 2rem;
    color:white;
  }


.services_container{
    font-family: 'Epilogue', sans-serif;
    background-color: #28293e;
    margin: 0 auto;
    /*No tengo idea de como arreglarlo distinto, el espacio entre los dos div*/
    margin-top: -1rem;
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: left;
    color: white;
  }

.p_services{
    line-height : 30px;
    font-style: normal;
    margin-left: 2rem;
    margin-right: 3rem;
    color:rgba(255, 255, 255, 0.64);


}
