body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #28293e;
  border: 0;
}

@media screen and (min-width: 1110px) {
  .app__modules__container .footer__div {
    transform: translate(0px, 80px);
  }

  /* /* .app__footer__reports .footer__div,
  .app__footer__movements .footer__div {
    position: absolute;
    bottom: 0;
    width: 100%;
  } */
}
