.modules__section {
  margin: auto;
}
.modules__section_boxes {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
}
.module__box,
.module__box__clicked {
  margin: 2rem;
}
