


.form__user{
    margin-top: 2rem;
}

.label__item{
  color: rgba(2, 2, 2, 0.64);
  font-family: "Epilogue", sans-serif;
  font-size: 1rem; 

}

.input__form{
    height:1.5rem;
    color: rgba(57, 20, 0, 0.64);
    border:solid;
    border-radius: 0.1rem;
    border-width: 0.1rem;
    border-color:#F3D1BF ;
    
    
}

.button__form{
    display: flex;
    margin: auto;
    background-color: #28293E;
    color: #ffffff;
    font-family: "Epilogue", sans-serif;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    padding: 18px 29px;
    height: 47px;
    border-radius: 0.4rem;
    border: 0;
    text-transform: uppercase;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: 1px solid transparent;
    margin-top: 3rem;

}


.div__item{
    width: 5rem;
    padding-top:0.4rem; 
}

.select__form{
    height:1.5rem;
    color: rgba(57, 20, 0, 0.64);
    border:solid;
    border-radius: 0.1rem;
    border-width: 0.1rem;
    border-color:#F3D1BF ;
}


.item__form{
    display:flex;
    text-align: left;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    padding-left: 2.5rem;
}


.userToolBox{
    background-color: #FDF0E9;
    align-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}