.form__user {
  margin: auto;
}
.contact__form__block label {
  display: none;
}
.div__item {
  /* width: auto; */
}
.input__form {
  border-radius: 8px;
}
.button__form {
  background-color: #ef6d58;
  align-items: center;
  margin-top: 1.2em;
  margin-bottom: 1em;
}
