.logout__button {
  justify-content: center;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 10px;
  display: flex;
  margin: auto;
  background-color: #ef6d58;
  color: #ffffff;
  font-family: "Epilogue", sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  padding: 18px 29px;
  height: 47px;
  border-radius: 0.4rem;
  border: 0;
  text-transform: uppercase;
  box-shadow: 0px 4px 4px 0px #00000040;
  border: 1px solid transparent;
  /* margin-top: 3rem; */
}
