.module__box,
.module__box__clicked {
  border: 2px solid #f3d1bf;
  width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 1.5rem;
}

.module__box {
  height: 6rem;
  padding: 1rem;
  border-radius: 0.6rem;
}

.module__box__clicked {
  height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;

  border-top-right-radius: 0.6rem;
  border-top-left-radius: 0.6rem;
}

.module__box__clicked:nth-child(1) {
  margin-bottom: 4rem;
}

.module__box__clicked:nth-child(2) {
  margin-bottom: 17rem;
}

.module__box__clicked:nth-child(3) {
  margin-bottom: 12rem;
}

.module__box__clicked:nth-child(4) {
  margin-bottom: 4rem;
}

.module__box__clicked:nth-child(2) .module__box__list {
  transform: translate(-141px, 3px);
  width: 22.25rem;
}
.module__box__clicked:nth-child(1) .module__box__list,
.module__box__clicked:nth-child(3) .module__box__list,
.module__box__clicked:nth-child(4) .module__box__list {
  transform: translate(-141px, 3px);
  width: 22.25rem;
}

.module__box__clicked:nth-child(1) button {
  transform: translate(12px, 0px);
}

.module__box__clicked:nth-child(2) button {
  transform: translate(-37px, 0px);
}

.module__box__clicked:nth-child(3) button {
  transform: translate(-9px, 0px);
}

.module__box__clicked:nth-child(4) button {
  transform: translate(5px, 0px);
}

.module__name {
  color: #ffff;
  font-family: "Epilogue", sans-serif;
  font-size: 1.5rem;
}

.module__button {
  background-color: transparent;
  height: 2.5rem;
  border: 0;
  border-radius: 50%;
}

.module__box__list {
  text-align: left;
  width: 22rem;
}

.module__box__list ul li {
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.module__box__list ul {
  list-style: none;
  padding: 0;
  border: 2px solid #f3d1bf;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}

.module__box__list ul a {
  text-decoration: none;
  color: #ffffffa3;
  font-family: "Epilogue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
}

/*This is for the seller modules */
.modules__section__seller .module__box__clicked:nth-child(1) {
  margin-bottom: 14rem;
}
.modules__section__seller .module__box__clicked:nth-child(2) {
  margin-bottom: 10rem;
}

.modules__section__seller .module__box__clicked:nth-child(1) button {
  transform: translate(-41px, 0px);
}

.modules__section__seller .module__box__clicked:nth-child(2) button {
  transform: translate(-12px, 0px);
}
.modules__section__seller
  .module__box__clicked:nth-child(2)
  .module__box__list {
  transform: translate(-138px, 3px);
}
.modules__section__seller
  .module__box__clicked:nth-child(1)
  .module__box__list {
  transform: translate(-137px, 3px);
}

.modules__section,
.modules__section__seller {
  margin-bottom: 60px;
}

.modules__section {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .module__box__clicked:nth-child(2) .module__box__list {
    transform: translate(-142px, 3px);
    width: 22.25rem;
  }
  .module__box__clicked:nth-child(4) .module__box__list {
    transform: translate(-142px, 3px);
    width: 22.25rem;
  }
}
