.products__table {
  color: #391400;
  table-layout: fixed;
  font-family: "Epilogue", sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.products__table th {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.products__table__head tr th {
  border-bottom: 1px solid #c4c4c4;
}

.products__table__button {
  border-radius: 50px;
  border: 0;
  background-color: #ffffff;
  color: #ef6c57;
}

.products__table__head tr th :nth-child(1) {
  border-right: 1px solid #c4c4c4;
}

.products__table__body tr td:nth-child(1) {
  border-right: 1px solid #c4c4c4;
}
