.products__table {
  color: #391400;
  table-layout: fixed;
  font-family: "Epilogue", sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.products__table__head tr th {
  border-bottom: 1px solid #c4c4c4;
}

.products__table__button {
  border-radius: 50px;
  border: 0;
  background-color: #ffffff;
  color: #ef6c57;
}

.products__table__head tr th :nth-child(1) {
  border-right: 1px solid #c4c4c4;
}

.products__table__body tr td:nth-child(1) {
  border-right: 1px solid #c4c4c4;
}

.input__unit__value,
.input__accsupport {
  width: 80%;
  border: none;
  border-radius: 50px;
  font-family: "Epilogue", sans-serif;
  text-align: center;
}

.acc__support__container {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.input__acc__support {
  font-weight: bold;
}

.input__acc__support,
.input__acc__support input {
  font-family: "Epilogue", sans-serif;
  text-align: center;
}

.input__acc__support input {
  border-radius: 50px;
  border: none;
  width: 30%;
  margin-left: 12px;
}
