.navbar__container {
  background-color: #28293e;
  height: 80px;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 1.2rem;
  color: #ffffff;
  position: relative;
  padding: 0 2rem;
}

.navbar__container__logo {
  justify-self: start;
  position: absolute;
  top: 17px;
  left: 25px;
}

.navbar__menu-icon {
  border: 1px solid rgba(255, 255, 255, 0.295743);
  border-radius: 6px;
  padding: 8px;
}

.navbar__hamburguer {
  display: flex;
  justify-self: end;
}

.nav-menu {
  font-family: 'Epilogue', sans-serif;
  background-color: #28293e;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.64);
  display: flex;
  flex-direction: column;
  height: 280px;
  position: absolute;
  top: 80px;
  left: -100%;
  opacity: 1;
  transition: all 0.5s ease;
  list-style: none;
}

.nav-menu.active {
  text-decoration: none;
  width: 100%;
  left: 0;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.nav-links {
  color: #ffffff;
  text-decoration: none;
  padding: 1.2rem 0;
  text-align: center;
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-60%, 60%);
  font-size: 1.8rem;
  cursor: pointer;
}

.navbar__close {
  display: flex;
}

@media screen and (min-width: 824px) {
  .menu-icon,
  .navbar__menu-icon {
    display: none;
  }
  .nav-menu {
    left: 2em;
    top: 0;
    background: none;
    flex-direction: row;
    position: relative;
    width: auto;
    margin: auto;
    height: auto;
  }
  .nav-menu li {
    width: auto;
    margin: auto 0.5rem;
  }
  .nav-links {
    padding: 0 0.5rem;
  }
  .nav-links:hover {
    background: #6d76f7;
    border-radius: 20px;
    transition: none;
    display: flex;
  }
}
