.movements__visualize_container {
  border: 1px solid transparent;
  background-color: #fdf0e9;
  padding-left: 32px;
  padding-right: 32px;
}

.movements__visualize_container table tr :nth-child(4),
.movements__visualize_container table tr :nth-child(5),
.movements__visualize_container table tr :nth-child(6),
.movements__visualize_container table tr :nth-child(7),
.movements__visualize_container table tr :nth-child(8),
.movements__visualize_container table tr :nth-child(9) {
  display: none;
}

@media (min-width: 900px) {
  .movements__visualize_container table tr :nth-child(4),
  .movements__visualize_container table tr :nth-child(5),
  .movements__visualize_container table tr :nth-child(6),
  .movements__visualize_container table tr :nth-child(7),
  .movements__visualize_container table tr :nth-child(8),
  .movements__visualize_container table tr :nth-child(9) {
    display: table-cell;
  }
}
